@use '../variables';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;

    &--primary{
        background-color: variables.$bgButtonPrimary;
        color: variables.$textColor;
    }

    @media (max-width: 640px){
        font-size: 14px;
        display: block;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    @media (max-width: 1024px){
        margin-left: 12px;
        display: flex;
        text-align: center;
        align-items: center;
    }
}